[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/kaia-contracts"]
	path = lib/kaia-contracts
	url = https://github.com/kaiachain/kaia-contracts
